/* html {

} */

::-webkit-scrollbar {
	width: 9px;
  }
  
  /* ::-webkit-scrollbar-track {
	
  } */
  
  ::-webkit-scrollbar-thumb {
	background: #212529;
	border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #212529;
  }

body {
    background-color: #f2f3f5;
    
}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.tooltip-arrow {
    opacity: 0;
}

.rounded-4 {
    border-radius: 0.6rem
}

.navbar-light .navbar-nav .nav-link {
    color: #000000ab;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000000ce;
} 

.sidebar{
    height: calc(100vh - 24px);
}

.logo{
    background-color: #212529;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.dropdown-menu {
    border: none;
    max-width: 20rem;
}

.dropdown-item{
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.dropdown-item:active {
    background-color: #E9ECEF;
    color: #212529;
}

.dropdown-item-center{
    width: auto;
    display: flex;
    justify-content: center;
}

.dropdown-item-box{
    padding: 0rem 0.50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert{
    text-align: center;
    padding: 8px;
}

/* .modal-dialog {
    
} */

.title{
    font-weight: 500;
}

.form-control-plaintext {
    outline: none;
    resize: none;
    overflow: hidden;

}

.modal-input {
    border: none;
    outline: none;
    font-weight: 500;
    /* font-size: 1.25rem;
    font-size: 20px; */
    width: 100%;
}

.modal-content {
    border: none;
}

.modal-footer{
    border-top: none;
}

/* .navbar {

} */

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.icon-sm {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.icon-xl {
    width: 32px;
    height: 32px;
    cursor: pointer;
}


.form-check-input:checked {
    /* background-color: #212529;
    border-color: #989fa8; */
        /* background-color: #212529;
    border-color: #989fa8;*/
    background-color: #212529;
    border-color: #212529;
}

.form-check-input:focus {
    box-shadow:none;
}

.form-check-input:focus:not(:checked) {
    border-color: #989fa8;
  }

.checked {
    text-decoration: line-through;
}

.card {
    border: none;
    cursor: pointer;
}

.card:hover {
    /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    box-shadow: 5px 5px 20px 2px rgba(0,0,0,.20); */
    border: #212529;
}

.card-title {
    font-size: 18px;
}

.card-text {
    font-size: 14px;
}

.text-muted {
    /* color: #6c757d; */
    color: #32373d;
}

.title.form-control-plaintext{
    border: 0px;
    font-size: 18px;
    padding: 0px;
}

.subtitle.form-control-plaintext{
    border: 0px;
    font-size: 16px;
    padding: 0px;
}

.subtitle-box{
    margin-top: -0.25rem;
    margin-bottom: 0.50rem;
}

.content.form-control-plaintext{
    border: 0px;
    font-size: 14px;
    padding: 0px;
}

.file-hide{
    display: none;
}

.delete_img_btn{
    /* background-color: #e23030; */
    background-color: #212529;
    opacity: 0.6;
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}

.delete_img_btn:hover{
    opacity: 1;
    cursor: pointer;
}

.card-tag-list{
    padding: 0px 1rem 8px 1rem;
}

.card-tag {
    min-width: 35px;
    display: inline-block;
    font-weight: 490;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #212529;
    background-color: transparent;
    padding: 2px 14px;
    margin: 8px 8px 0 0;
    font-size: 0.8rem;
    border-radius: 1rem;
}

/* .card-tag:hover {
    
} */

.tag-circle {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.dropdown-item .card-tag{
    margin: 0;
}

.tag-red {
    background-color: #ffbbbb;
    color: #c95b5b;
}
.tag-pink {
    background-color: #ffbada;
    color: #cc5b84;
}
.tag-purple {
    background-color: #ffb7f9;
    color: #c454be;
}
.tag-violet {
    background-color: #e1beff;
    color: #8f52c0;
}
.tag-blue {
    background-color: #dad0ff;
    color: #7c63c0;
    /* 7c63c0 */
}
.tag-light-blue {
    background-color: #d0ecff;
    color: #3c94bd;
    /* 3f97c0 */
}
.tag-turquoise {
    background-color: #c1fffc;
    color: #33a19c; 
    /* 3fc5be */
}
.tag-green {
    background-color: #b4ffd3;
    color: #2eaf60;
    /* 35cc6f */
}
.tag-light-green {
    background-color: #c8ffc6;
    color: #43a52f; /* 52ca3a */
}
.tag-yellow {
    background-color: #f9fdaf;
    color: #8d8b1f;
    /* c5c33a */
}
.tag-orange {
    background-color: #ffe1b9;
     color: #9b812c; /* cfac37 */
}

.list-group>.card-tag-list{
    padding: 16px 1rem 1rem 1rem;
}

/* .list-group {

} */

.list-group-title{
    font-size: 18px;
    position: relative;
    display: block;
    padding: 1rem 1rem 0rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-width: 0 0 1px;
}

.list-group-item {
    font-size: 14px;
    padding: 1rem 1rem 1rem 1rem;
}

.unclickable{
    cursor:default;
}

.dropdown-item.unclickable:hover{
    background-color: #fff;
}

div:empty:before {
    content:attr(data-placeholder);
    color:gray;
    cursor: text;
  }

